@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@media (min-width: 992px) {
  nav {
    display: block;
    z-index: 99999;
  }
  nav .menu {
    justify-content: end;
  }
  nav ul a:not(:last-child) {
    margin: auto 2rem auto auto;
  }
  .zero {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    position: absolute;
    background-image: url('./components/img/blob.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    height: 100%;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  .zero img {
    width: 400px;
  }
  .content {
    padding: 3rem;
    width: 50%;
    color: rgb(247, 210, 210) !important;
    text-shadow: 0 2px 3px black;
    letter-spacing: 2px;
  }
  .zero .content .description {
    font-size: large !important;
  }
}

nav {
  background: rgba(255, 255, 255, 0.384);
}
main {
  padding: 2rem 0;
}

.zero img {
  padding: 3rem;
  width: 300px;
}
.zero .content {
  padding: 3rem;
}

.zero .content .title {
  font-size: x-large;
  letter-spacing: 2px;
  font-family: 'Mochiy Pop P One', sans-serif;
}
.zero .content .description {
  font-size: small;
  font-family: 'Caveat', cursive;
}

.zero .content button {
  cursor: pointer;
  font-family: 'Caveat';
}

.zero .content button:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.312);
  transition: all .3s ease-in-out;
  border-radius: 20px;
}